:root {
    margin: 10px;
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

#header {
    width: calc(100% - 20px);
    background-color: var(--background-color);
    color: var(--header-color);
    padding:5px;
    display: grid;
    column-gap: 5px;
    row-gap: 0px;
    grid-template-columns: 64px 1fr;
    font-size: 1em;
}

#header > img {
    width:64px;
    height:64px;
    grid-column: 1;
    grid-row-start: span 2;
}

#header > span {
    grid-column: 2;
}

#show-name {
    font-weight: bold;
    font-size: 2em;
}

#edit {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

#edit label {
    width:100%;
    vertical-align: top;
}

#edit span {
    min-width: 120px;
    display: inline-block;
}

#edit input[type='text'],
#edit textarea,
#edit select {
    width:calc(100% - 140px);
}

#edit .focus {
    margin-top: 5px;
    margin-left: 125px;
}
