:root {
    margin: 10px;
}

h1 {
    width: calc(100% - 20px);
    background-color: var(--background-color);
    color: var(--header-color);
    padding:5px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#sourceBook {
    justify-self: end;
}

#edit {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    border: 1px solid black;
}

#edit label {
    width:100%;
    border: 1px solid black;
}

#edit span {
    min-width: 120px;
    display: inline-block;
    border: 1px solid black;
}

#edit input[type='text'],
#edit select {
    width:calc(100% - 140px);
}
